# Define the prefix of container names. This is useful if you have multiple projects that use nodedock to have seperate containers per project.
COMPOSE_PROJECT_NAME=api_docker_env


# App mounting
APP_ROOT_PATH=../
DOCKER_APP_ROOT_PATH=/app

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=./data

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### API ###################################################
APP_SERVICE_PORT=9000

### POSTGRES ##############################################

POSTGRES_DB=default
POSTGRES_USER=default
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432
POSTGRES_ENTRYPOINT_INITDB=./postgres/docker-entrypoint-initdb.d

### NGINX #################################################

NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_HOST_LOG_PATH=./data/nginx/logs/
NGINX_SITES_PATH=./nginx/sites/
NGINX_WEBROOT=./nginx/webroot/
NGINX_CERTS=./data/certs/
